62-use-lists-and-maps/.gradle/8.10.2/gc.properties
62-use-lists-and-maps/.gradle/8.10.2/checksums/checksums.lock
62-use-lists-and-maps/.gradle/8.10.2/dependencies-accessors/gc.properties
62-use-lists-and-maps/.gradle/8.10.2/fileChanges/last-build.bin
62-use-lists-and-maps/.gradle/8.10.2/fileHashes/fileHashes.bin
62-use-lists-and-maps/.gradle/8.10.2/fileHashes/fileHashes.lock
62-use-lists-and-maps/.gradle/buildOutputCleanup/buildOutputCleanup.lock
62-use-lists-and-maps/.gradle/buildOutputCleanup/cache.properties
62-use-lists-and-maps/.gradle/vcs-1/gc.properties
62-use-lists-and-maps/.gradle/file-system.probe
62-use-lists-and-maps/.gradle/8.10.2/executionHistory/executionHistory.bin
62-use-lists-and-maps/.gradle/8.10.2/executionHistory/executionHistory.lock
62-use-lists-and-maps/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
62-use-lists-and-maps/.gradle/buildOutputCleanup/outputFiles.bin
62-use-lists-and-maps/build/classes/java/main/it/unibo/collections/TestPerformance.class
62-use-lists-and-maps/build/classes/java/main/it/unibo/collections/UseListsAndMaps.class
62-use-lists-and-maps/build/tmp/compileJava/previous-compilation-data.bin
62-use-lists-and-maps/build/tmp/compileJava/compileTransaction/stash-dir/UseListsAndMaps.class.uniqueId0
